{% extends "page.html" %}

{% block main %}

<div class="container pt-16">
  <div class="row">
    <div class="text-center">
      {% block heading %}
      <h1>
      {% if failed %}
      Inicio fallido
      {% else %}
      Lab no está funcionando
      {% endif %}
      </h1>
      {% endblock %}
      {% block message %}
      <p>
        {% if failed %}
        El último intento para iniciar tu lab {{ server_name }} ha fallado.
        {% if failed_html_message %}
          </p><p>{{ failed_html_message | safe }}</p><p>
        {% elif failed_message %}
          </p><p>{{ failed_message }}</p><p>
        {% endif %}
        ¿Quieres volver a intentar iniciarlo?
        {% else %}
        Tu lab {{ server_name }} no está funcionando.
          {% if implicit_spawn_seconds %}
          Se reiniciará automáticamente.
          Si no eres redirigido en unos segundos,
          clic para lanzar tu lab.
          {% else %}
          ¿Te gustaria iniciar tu lab?
          {% endif %}
        {% endif %}
      </p>
      {% endblock %}
      {% block start_button %}
      <a id="start" role="button" class="btn btn-lg btn-primary" href="{{ spawn_url }}">
        {% if failed %}
        Relanzar
        {% else %}
        Iniciar
        {% endif %}
        Lab {{ server_name }}
      </a>
      {% endblock %}
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
{{ super () }}
{% if implicit_spawn_seconds %}
<script type="text/javascript">
  var spawn_url = "{{ spawn_url }}";
  var implicit_spawn_seconds = {{ implicit_spawn_seconds }};
  setTimeout(function () {
      console.log("redirecting to spawn at", spawn_url);
      window.location = spawn_url;
    },
    1000 * implicit_spawn_seconds
  );
</script>
{% endif %}
<script type="text/javascript">
require(["not_running"]);
</script>
{% endblock script %}
